body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #002241, #002241);
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

h1, h2 {
    text-align: center;
    color: #333;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 20px;
}

form input, form button {
    padding: 10px;
    font-size: 16px;
}

form button {
    grid-column: span 2;
    background: #002241;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background: #002241,;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    text-align: center;
}

table th {
    background: #002241;
    color: white;
}

table tr:nth-child(even) {
    background: #f2f2f2;
}

a {
    text-decoration: none;
    color: #002241;
    font-weight: bold;
}

a:hover {
    color: #002241;
}

.result-box {
    text-align: center;
    padding: 30px;
}

.grade {
    font-size: 50px;
    color: green;
}
